body{
    height: 100%;
    background-color: #edede9;
}
a{
    text-decoration: none;
    color: #2b2d42;
}
.header_link{
    border-radius: 10px;
    margin-right: 87%;
    padding: 8px;
    background-color: #e3d5ca;
    font-family: 'Courier New', Courier, monospace;
    color: #2b2d42;
    font-size: 110%;
    font-weight: bold;
}
.header_title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 120%;
    padding: 1%;
    color: #2b2d42;
}
.tabela{
    font-family: 'Courier New', Courier, monospace;
    color: #2b2d42;
    font-size: 120%;
    margin-left: 4%;
}
tr{ 
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #e3d5ca;
}
td{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #2b2d42;
    font-size: 120%;
}

.remover{
    margin-top: 5%;
    font-weight: bold;
    color: #2b2d42;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    background-color: #f5ebe0;
    align-items: center;
    width: 22%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}